<% include ../partials/header %>

    <div class="row justify-content-center">
		<div class="col-md-12 text-center">
        	<h1>Add a New Bear to <%= collection.name %></h1>
		</div>
        <div class="col-xs-12 col-md-6 col-lg-5">
            <form action="/collections/<%= collection._id %>/bears" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
				<div class="form-group">
                    <label for="type">Type</label>
                    <input class="form-control" type="text" name="type" placeholder="type of animal(ex. Bear, Cat, Dog, etc...)">
                </div>
				<div class="form-group">
                    <label for="material">Material</label>
                    <input class="form-control" type="text" name="material" placeholder="material used for making the bear">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a class="btn btn-sm btn-danger" href="/collections/<%= collection._id %>">Go Back</a>
        </div>

    </div>
    
<% include ../partials/footer %>