body {
  	background-color: #EEEEEE;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.navbar {
	background-color: #990000;
	color: white;
}

a {
	color: white;
}

.white-bg {
	background-color: white;
}